html {
background: #c27ba0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0px;
    color: #fff;
}

.header {
    background: #c27ba0;
    padding: 0 1em;
    margin: 0;
    position: sticky;
    top: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
}

a:visited {
    color:#fff
}

a:hover {
    background:#000
}

.header h1 {
    color: #fff;
    font-size: 3em;
    padding: 10px;
}

.nav li {
    color: #fff;
    display: inline-block;
}

section{
    margin: 30px;
}

p {
    line-height: 1.4em;
}

p[class] {
    font-size: .8em;
    text-align: right;
}

#articles {
    display: flex;
    border-top: 1px dotted #ccc;
}

article:nth-of-type(1){
    flex: 1;
    padding-right: 15px;
}

article:nth-of-type(2){
    flex: 1;
    padding-left: 15px;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
    font-size: .93em;
}

#about {
    margin: 30px;
    padding-bottom: 10px;
}

img {
    max-width: 50%;
    height: auto;
    float: left;
    padding: 0 10px 0 0;
}

.crop {
    width: 1000px;
    height: 405px;
    object-fit: cover;
    object-position: 0 30%;
    float: left;
}

label, input{
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
}

form {
    padding-bottom: 20px;
}

#caption {
    font-size: .8em;
    text-align: justify;
    margin: 0;
    padding: 0;
}

@media (max-width: 400px) {
    #articles {
        display: block;
    }
    .nav li {
        display: block;
    }
    .header h1 {
        font-size: 2em;
    }
    img {
        max-width: 100%;
        padding-bottom: 10px;
    }
    section {
        margin: 10px;
    }
    article:nth-of-type(1) {
        padding-right: 0;
    }
    article:nth-of-type(2) {
        padding-left: 0;
    }
    #about {
        margin: 10px;
        padding-right: 0px;
    }
    h3 {
        font-size: 1em;
    }
    h2 {
        font-size: 1.6em;
        margin: 0 0 5px 0;
    }
}
